<div class="checkout-plan-selector">
    <div class="checkout-plan-wrapper">
        <button class="checkout-monthly-selector btn btn-control btn-no-background">
            {{t "Monthly"}}
        </button>
        <button class="checkout-yearly-selector btn btn-control btn-no-background">
            {{t "Yearly"}}
        </button>
    </div>
</div>
